version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    restart: always
    container_name: aipl_postgres_db
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpassword
      POSTGRES_DB: aipl
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pguser"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: aadesh-app
    ports:
      - "8000:5000"
    environment:
      DATABASE_URL: postgresql://pguser:pgpassword@postgres:5432/aipl
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure

volumes:
  pgdata:
